/* header */
header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
header .top{
  background-color: black;
}
header .top img{
  width: 100px;
  padding: 10px 0;
}
.lens-search{
  width: 20px;
}


/* jumbotron */

.jumbotron{
  height: 75vh;
  color: white;
  padding: 3vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron .container {
 height: 100%;
}
.jumbotron .container .row{
  align-items: flex-end;
}
.jumbotron .dst-btn{
  background-color: rgb(206, 61, 16);
}
.jumbotron.jumbotron-1{
  margin-top: 113px;
}
.jumbotron-1{
  background-image: url(../img/jumbo-bg.png);
}
.jumbotron-2{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg)
}

.jumbo-text{
  position: relative;
}

.jumbo-text-logo{
  position: absolute;
  top: -6rem;
}
.jumbo-text-logo img{
  height: 5rem;
}

/* small */


/* gallery */

.dst-card{
  border: 3px solid transparent;
  border-radius: 30px;
  overflow: hidden;
}
.dst-card.active{
  border: 3px solid rgb(0, 113, 203);
}
.dst-card img{
  width: 100%;
  border-radius: 30px;
}

/* playstation 5 */
.playstation-5 .top img{
  width: 100%;
}

.playstation-5 .bottom img{
  width: 100%;
  opacity: 0.5;
}

.playstation-5 .bottom h5{
  opacity: 0.5;
  font-size: .95rem;
}

/* nuove uscite */
.gallery-news{
  color: white;
  background-color: rgb(31, 31, 31);
}
.gallery-news img{
  width: 100%;
  border-radius: 30px;
}

/* playstation 4 */
.playstation-4 .dst-card{
  border-radius: 0 ;
  background-color: white;
}

/* plus */
.jumbotron-small{
  background-color: rgb(189, 188, 186);
}
.jumbotron-small .container,
.jumbotron-small .container .row,
.jumbotron-small .container .row .col{
  height: 100%;
}
.jumbotron-small img{
  width: 100%;
}
.plus-image{
  height: 100%;
}
.plus img,
.ps-now-logo img {
  transform: scale(.9);
  transform: translateX(-15px);
}
.jumbotron-small .btn{
  background-color: rgb(217, 218, 220);
  color: rgb(50, 104, 229);
}


/* sale */
.square-card img{
  width: 100%;
}

/* playstation now */

.jumbotron-small.ps-now{
  background-color: rgb(22, 28, 60);
  color: white;
}
.jumbotron-small.ps-now .btn{
  background-color: white;
  color: black;
}

/* footer */
footer{
  color: white;
  background-color: rgb(0, 67, 156);
}
.logo-footer{
  display: block;
}
.language-globe{
  width: 20px;
}
.sie-logo{
  width: 30%;
}